.breadcrumb .section {
    color: #d41b2c;
    margin-right: 5;
    font-size: 18px;
}

.breadcrumb .element {
    margin-right: 5;
}

.breadcrumb {
    align-items: center;
}

.content-toolbar {
    border-bottom: 1px solid #c7cdd1;
    padding: 10px;
}

.content-toolbar::after {
    content: "";
    display: table;
    clear: both;
}

.content-toolbar-elements {
    display: flex;
} 

.content-toolbar-elements .first {
    flex-grow: 1;
}

.content-toolbar-element .first form {
    border: unset;
}

.group-header {
    background-color: var(--button-background-color) !important;
}

.assignment-data {
    border-left: 3px solid green;
}

.list-item-container {
    align-items: center;
}

.assignment-details {
    font-size: 12px;
}
